{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Medical Hearing Hospital </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'userstatic/assets/img/favicon.ico' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- CSS here -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
        rel="stylesheet">
    <link href="{% static 'userstatic/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/style.css' %}">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .form-container {
            border: 2px solid #000000;
            border-radius: 10px;
            padding: 40px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            width: 90%;
            margin: 0 auto;
        }
        .input-field {
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding: 12px;
            width: 100%;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .btn-primary {
            background-color: #000000;
            border: none;
            padding: 15px 30px;
            font-size: 20px;
        }
        .btn-primary:hover {
            background-color: #000000;
        }
        .form-group label {
            font-weight: bold;
            color: #000000;
            font-size: 18px;
        }
        h3 {
            font-size: 28px;
        }

        .input-field {
            height: 40px; /* Adjust the height to your preference */
            /* Add any additional styling here */
        }
    </style>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>swal({
            title: "Success!",
            text: "{{message}}",
            icon: "success",
            button: "OK",
        });
    </script>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>swal({
            title: "Warning :)",
            text: "{{message}}",
            icon: "warning",
            button: "OK",

        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
            title: "info :)",
            text: "{{message}}",
            icon: "info",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>swal({
            title: "error :)",
            text: "{{message}}",
            icon: "error",
            button: "OK",
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'userstatic/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{% url "dashboard" %}"><img src="{% static 'userstatic/assets/img/logo.png' %}" alt="" style="height:75px; width:200px;"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                                            <li><a href="{% url "myprofile" %}">My Profile</a></li>
                                            <li><a href="{% url "detection" %}">Hearing Loss Detection</a></li>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="{% url 'userlogout' %}" class="btn header-btn">Logout</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!--? Hero Start -->
   
     <!--? Hero Start -->
     <div class="slider-area2" style="height: 250px; text-align: center;">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2 style="padding-bottom: 170px;">Hearing Loss Detection</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6"><br>
            <div class="form-container">
        <br><br><img src="https://img.freepik.com/free-photo/hearing-exam-otolaryngologist-doctor-checking-woman-s-ear-using-otoscope-auriscope-medical-clinic_657921-266.jpg?size=626&ext=jpg&ga=GA1.2.967416218.1689508738&semt=ais" class="card-img-top" alt="Your Image" >
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-container">
                <form action="{% url "detection" %}" method="POST" enctype="multipart/form-data" id="form">
                    {% csrf_token %}
                    <h3 class="mb-4 text-center">Hearing Loss Detection</h3>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input name="field1" type="text" class="form-control input-field" placeholder="Type here..." required>
                    </div>
                    <div class="form-group">
                        <label for="age">DB</label>
                        <input name="field3" type="text" class="form-control input-field" placeholder="Type here..." required>
                    </div>
                    <div class="form-group">
                        <label for="sex">Sex:</label>
                        <select name="sex" id="sex" class="form-control input-field" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="plasma_CA19_9">Physical Score:( > 50)</label>
                        <input name="field2" id="inputField" type="text" class="form-control input-field" placeholder="Type here..." required>
                        <div id="error-message" style="color: red;"></div>
                    </div>
                    
                    <script>
                        document.getElementById('inputField').addEventListener('input', function() {
                            var value = parseFloat(this.value);
                            var errorDiv = document.getElementById('error-message');
                    
                            if (isNaN(value)) {
                                errorDiv.textContent = "Please enter a valid number.";
                                return;
                            }
                    
                            if (value >= 50) {
                                errorDiv.textContent = "Value should be less than 50.";
                            } else {
                                errorDiv.textContent = "";
                            }
                        });
                    
                        document.getElementById('myForm').addEventListener('submit', function(event) {
                            var value = parseFloat(document.getElementById('inputField').value);
                    
                            if (isNaN(value) || value >= 50) {
                                event.preventDefault(); // Prevent form submission
                            }
                        });
                    </script>
                    
                    <!-- Add more form groups for other fields -->
                    <div class="text-center">
                        <button href="" type="submit" class="btn btn-primary">Predict</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><br><br><br><br>


    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg"
            data-background="{% static 'userstatic/assets/img/gallery/footer_bg.jpg' %}">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="{% url "dashboard" %}"><img src="{% static 'userstatic/assets/img/logo.png' %}" alt="" style="height:75px; width:200px;"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p class="info1">The Hearing Institute of Excellence: Pioneering Care for Your
                                            Auditory Wellness.</p>
                                        <p class="info1">Open Arms Audiology: Where All Are Welcome to Experience Better
                                            Hearing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-number mb-50">
                                    <h4><span>+91</span>8555887986</h4>
                                    <p>Codebook@gmail.com</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank"
                                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email"
                                                placeholder=" Email Address " class="placeholder hide-on-focus"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm">
                                                    Send
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                        href="https://www.codebook.in/" target="_blank">Codebook.in</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static 'userstatic/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'userstatic/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'userstatic/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'userstatic/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'userstatic/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'userstatic/assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'userstatic/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/jquery.sticky.js' %}"></script>

    <!-- counter , waypoint -->
    <script src="{% static 'userstatic/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/jquery.countdown.min.js' %}"></script>
    <!-- contact js -->
    <script src="{% static 'userstatic/assets/js/contact.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/mail-script.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'userstatic/assets/js/plugins.js' %}"></script>
    <script src="{% static 'userstatic/assets/js/main.js' %}"></script>
    
</body>

</html>