{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Medical Hearing Hospital </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'userstatic/assets/img/favicon.ico' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- CSS here -->
	<link href="{% static 'userstatic/assets/css/bootstrap.min.css' %}" rel="stylesheet" >
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'userstatic/assets/css/animated-headline.css' %}">
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'userstatic/assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1BeKF2JByZuFLmx6KR5P0TJzPsngv2C2AzZl+T" crossorigin="anonymous">

    <style>
        .preview-image {
            max-width: 100%;
            max-height: 200px;
            border-radius: 50%;
        }

        .preview-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    </style>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>swal({
            title: "Success!",
            text: "{{message}}",
            icon: "success",
            button: "OK",
        });
    </script>
    
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>swal({
            title: "Warning :)",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
         
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
            title: "info :)",
            text: "{{message}}",
            icon: "info",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>swal({
            title: "error :)",
            text: "{{message}}",
            icon: "error",
            button: "OK",
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'userstatic/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{% url "dashboard" %}"><img src="{% static 'userstatic/assets/img/logo.png' %}" alt="" style="height:75px; width:200px;"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                                            <li><a href="{% url "myprofile" %}">My Profile</a></li>
                                            <li><a href="{% url "detection" %}">Hearing Loss Detection</a></li>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="{% url 'userlogout' %}" class="btn header-btn">Logout</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <!--? Hero Start -->
    <div class="slider-area2" style="height: 250px; text-align: center;">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2 style="padding-bottom: 170px;">My Profile</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 style="font-family: 'Arial', sans-serif; color: #336699; text-align: center; margin-top: 50px;">Edit Your Profile Details Here</h1>
<hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container rounded bg-white mt-6 shadow">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" src="/media/{{i.user_file}}" height="200px" width="200px">
                        <!-- Choose File button -->
                        <label for="fileInput" class="btn btn-primary mt-3">Select Image</label>
                        <input id="fileInput" type="file" name="user_file" style="display: none;">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-row align-items-center back"><i
                                    class="fa fa-long-arrow-left mr-1 mb-1"></i>
                                <h6 style="font-size: medium;">Back to home</h6>
                            </div>
                            <h6 class="text-right" style="font-size: medium;">Edit Profile</h6>
                        </div>
                        <div class="row mt-2">
                            <h4 style="font-size: large;">Email
                                Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <div class="col-md-6">
                                <input name="email_address" type="text" class="form-control" style="width: 300px; height: 40px; border: 2px solid #000; font-size: 16px;" placeholder="Email" value="{{i.user_email}}">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <h4 style="font-size: large;">User Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <div class="col-md-6">
                                <input name="user_name" type="text" class="form-control"style="width: 300px; height: 40px; border: 2px solid #000; font-size: 16px;" placeholder="Username" value="{{i.user_username}}">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <h4 style="font-size: large;">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <div class="col-md-6" style="position: relative;">
                                <input name="email_password" type="password" class="form-control" id="passwordInput" style="width: 300px; height: 40px; border: 2px solid #000; font-size: 16px; padding-right: 40px;" placeholder="password" value="{{i.user_password}}">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <h4 style="font-size: large;">Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <div class="col-md-6" style="position: relative;">
                                <input type="text" name="date" class="form-control" style="width: 300px; height: 40px; border: 2px solid #000; font-size: 16px; padding-right: 40px;" placeholder="date" value="{{i.user_dates}}">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <h4 style="font-size: large;">Contact &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <div class="col-md-6" style="position: relative;">
                                <input name="contact_number" type="text" name="date" class="form-control" id="passwordInput" style="width: 300px; height: 40px; border: 2px solid #000; font-size: 16px; padding-right: 40px;" placeholder="Phone Number" value="{{i.user_contact}}">
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">SaveProfile</button>
                    </div><br>
                </div>
            </div>
        </div>
    </form>
    </div><br><br><br>



    <footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" data-background="{% static 'userstatic/assets/img/gallery/footer_bg.jpg' %}">
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="{% url "dashboard" %}"><img src="{% static 'userstatic/assets/img/logo.png' %}" alt="" style="height:75px; width:200px;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p class="info1">The Hearing Institute of Excellence: Pioneering Care for Your Auditory Wellness.</p>
                                    <p class="info1">Open Arms Audiology: Where All Are Welcome to Experience Better Hearing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-number mb-50">
                                <h4><span>+91</span>8555887986</h4>
                                <p>Codebook@gmail.com</p>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Send
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.codebook.in/" target="_blank">Codebook.in</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

   <!-- JS here -->

   <script src="{% static 'userstatic/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
   <!-- Jquery, Popper, Bootstrap -->
   <script src="{% static 'userstatic/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/popper.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/bootstrap.min.js' %}"></script>
   <!-- Jquery Mobile Menu -->
   <script src="{% static 'userstatic/assets/js/jquery.slicknav.min.js' %}"></script>

   <!-- Jquery Slick , Owl-Carousel Plugins -->
   <script src="{% static 'userstatic/assets/js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/slick.min.js' %}"></script>
   <!-- One Page, Animated-HeadLin -->
   <script src="{% static 'userstatic/assets/js/wow.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/animated.headline.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/jquery.magnific-popup.js' %}"></script>

   <!-- Date Picker -->
   <script src="{% static 'userstatic/assets/js/gijgo.min.js' %}"></script>
   <!-- Nice-select, sticky -->
   <script src="{% static 'userstatic/assets/js/jquery.nice-select.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/jquery.sticky.js' %}"></script>
   
   <!-- counter , waypoint -->
   <script src="{% static 'userstatic/assets/js/jquery.counterup.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/waypoints.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/jquery.countdown.min.js' %}"></script>
   <!-- contact js -->
   <script src="{% static 'userstatic/assets/js/contact.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/jquery.form.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/jquery.validate.min.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/mail-script.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/jquery.ajaxchimp.min.js' %}"></script>
   
   <!-- Jquery Plugins, main Jquery -->	
   <script src="{% static 'userstatic/assets/js/plugins.js' %}"></script>
   <script src="{% static 'userstatic/assets/js/main.js' %}"></script>

<script>
    function editUserInfo() {
        var email = document.querySelector('#email').value;
        var url = document.querySelector('#url').value;
        var date = document.querySelector('#date').value;

        // You can perform any edit/update logic here
        // For example, you can update a database with the new information

        alert('User information edited successfully!');
    }

    document.getElementById('fileInput').addEventListener('change', function () {
        var input = this;
        var previewImage = document.getElementById('previewImage');
        var reader = new FileReader();

        reader.onload = function (e) {
            previewImage.src = e.target.result;
        }

        reader.readAsDataURL(input.files[0]);
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>